\:root
  --background-color: #ffffff
  --foreground-color: #fefefe
  --divider-shadow-color: #F3F2F1
  --unselected-navbar-item-color: rgba(110,110,110,0.8)
  --selected-navbar-item-color: #323d47
  --hover-color: #E1DFDD
  --button-color: #407BFF
  --button-hover-color: #7EA5FF
  --button-text-color: #FFFFFF
  --error-box-color: #ff407b
  --error-span-text-color: #ff407b
  --success-box-color: #7bff40
  --info-text-color: #858585

[theme="dark"]
  --background-color: #11100f